* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Monospaced, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

input {
    margin: 10px;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}

button {
    padding: 10px;
    background: #e3e3e3;
    border: unset;
    cursor: pointer;
}
a {
    color: cornflowerblue;
    font-weight: bold;
    text-decoration: unset;
}

p {
    margin: 10px 0;
}

.msg {
    border: 2px solid cornflowerblue;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
}